/* Base */
html {
  font-size: 18px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: white;
  color: black;
  font-family: "aktiv-grotesk", "helvetica neue", helvetica, arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Layout */
aside {
  padding: 7%;
}

article {
  color: #222;
  float: left;
  height: 10%;
  padding: 7%;
  width: 86%;
}

/* Hide content while web fonts are loading */
.wf-loading article {
  opacity: 0;
}

/* Reintroduce content gradually after fonts have loaded */
.wf-active article,
.wf-inactive article {
  transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
}

/* Typography */
p, form {
  margin-bottom: 1.5rem;
  max-width: 30em;
}

/* Links */
a {
  color: inherit;
  line-height: 0;
  position: relative;
  text-decoration: none;
}

a:before {
  border-bottom: 1px solid;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  margin: 0 0 -2px;
  position: absolute;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  transition: all 300ms ease-in-out 0s;
  -webkit-transition-delay: 0s;
  visibility: hidden;
  width: 100%;
}

a:hover {
  text-decoration: none;
}

a:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}

/* Logo */
.logomark {
  float: left;
  height: 32px;
  margin-right: .5em;
  width: 32px;

  /* Sharpen logo edges */
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

/* Title */
h1 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Footer */
footer {
  color: gray;
  font-size: 14px;
}

/* Seperator */
.sep {
  margin: 0 .25rem;
}

/* Form */
input[type="email"], button {
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
  font-size: 14px;
  height: 55px;
  outline: none;
  padding: 0 1em;
  width: 100%;
  -webkit-appearance: none;
}

input[type="email"] {
  background-color: #f5f5f5;
  color: gray;
  height: 55px;
  margin-bottom: 1em;
  text-align: center;
}

button {
  background-color: black;
  color: white;
  cursor: pointer;
  opacity: .75;
  transition: opacity .5s;
}

button:hover, button:focus {
  opacity: 1;
}

/* Adapt layout for larger screens */
@media screen and (min-width : 768px) {
  html {
    font-size: 20px;
  }

  aside {
    background: gray url("img/rooftops.jpg") no-repeat;
    background-position: bottom center;
    background-size: cover;
    bottom: 0;
    box-sizing: border-box;
    color: white;
    display: block;
    float: left;
    height: 100%;
    left: 0;
    padding: 3% 7%;
    position: fixed;
    right: 50%;
    top: 0;
    width: 50%;
  }

  .logomark {
    /* Invert colors */
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }

  article {
    display: block;
    float: right;
    padding: 3% 7%;
    position: relative;
    width: 36%;
  }

  input[type="email"], button {
    font-size: 18px;
  }

}

@media screen and (min-width : 768px) and (min-height : 768px) {

  footer {
    bottom: 7%;
    color: white;
    left: 7%;
    position: fixed;
  }

  form {
    bottom: 7%;
    margin-bottom: 0;
    position: fixed;
    right: 7%;
  }

}