/* Base */
html {
  font-size: 18px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fff;
  color: #222;
  font-family: "aktiv-grotesk", "helvetica neue", helvetica, arial, sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Layout */
aside {
  background: #222 url("img/bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 7%;
}

article {
  float: left;
  width: 86%;
  height: 10%;
  padding: 7%;
}

/* Hide content while web fonts are loading */
.wf-loading article {
  opacity: 0;
}

/* Reintroduce content gradually after fonts have loaded */
.wf-active article,
.wf-inactive article {
  transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
}

/* Typography */
h1 {
  font-size: 2rem;
  line-height: 1;
}

p {
  margin-bottom: 1.5rem;
  max-width: 30em;
}

/* Links */
a {
  color: inherit;
  line-height: 0;
  text-decoration: none;
  position: relative;
}

a:before {
  border-bottom: 1px solid;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  margin: 0 0 -2px;
  position: absolute;
  transform: scaleX(0);
  transition: all 300ms ease-in-out 0s;
  -webkit-transition: all 300ms ease-in-out;
  -webkit-transition-delay: 0s;
  -moz-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  visibility: hidden;
}

a:hover {
  text-decoration: none;
}

a:hover:before {
  transform: scaleX(1);
  visibility: visible;
}

/* Logo */
.logomark {
  height: 32px;
  width: 32px;

  /* Sharpen logo edges */
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;

  /* Invert logo color */
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.avatar {
  border-radius: 100%;
}

/* Footer */
footer {
  opacity: .5;
  font-size: .8rem;
}

/* Seperator */
.sep {
  margin: 0 .25rem;
}

/* Adapt layout for larger screens */
@media screen and (min-width : 768px) {
  html {
    font-size: 20px;
  }

  aside {
    background-position: bottom center;
    box-sizing: border-box;
    display: block;
    float: left;
    height: 100%;
    width: 50%;
    padding: 3% 7%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
  }

  article {
    display: block;
    float: right;
    width: 36%;
    padding: 3% 7%;
    position: relative;
  }

}

/* Stick footer to bottom on larger screens */
@media screen and (min-height: 480px) and (min-width : 768px) {
  footer {
    position: fixed;
    bottom: 7%;
    right: 7%;
  }
}