/* Base */
html {
  font-size: 18px;
  line-height: 1.5;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: black;
  font-family: "aktiv-grotesk", -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Layout */
header {
  padding: 7%;
  background-image: url("img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  bottom: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 50vh;
}

main {
  color: white;
  float: left;
  height: 10%;
  padding: 7%;
  width: 86%;
}

/* Hide content while web fonts are loading */
.wf-loading main {
  opacity: 0;
}

/* Reintroduce content gradually after fonts have loaded */
.wf-active main,
.wf-inactive main {
  transition: opacity 1s ease-out;
  -webkit-transition: opacity 1s ease-out;
  -moz-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
}

/* Typography */
p {
  margin-bottom: 1.5rem;
  max-width: 30em;
}

/* Links */
a, a:hover {
  text-decoration: none;
}

footer a {
  color: inherit;
  line-height: 0;
  position: relative;
  text-decoration: none;
}

footer a:before {
  border-bottom: 1px solid;
  bottom: 0;
  content: "";
  height: 1px;
  left: 0;
  margin: 0 0 -2px;
  position: absolute;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 300ms ease-in-out 0s;
  -o-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
  -webkit-transition-delay: 0s;
  visibility: hidden;
  width: 100%;
}

footer a:hover:before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}

/* Logo */
.logomark {
  float: left;
  height: 32px;
  margin-right: .5em;
  width: 32px;

  /* Invert image color */
  -webkit-filter: invert(100%);
  filter: invert(100%);

  /* Sharpen logo edges */
  image-rendering: optimizeSpeed;
  image-rendering: -o-pixelated;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

/* Title */
h1 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}


.button {
  color: white;
  display: inline-block;
  margin: 1em 0;
  padding: 1em 2em;
  border: 2px solid white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 70%;
  -webkit-transition: all .3s; /* Safari */
  -o-transition: all .3s;
  transition: all .3s;
}

.button:hover {
  color: black;
  background-color: white;
}

/* Footer */
footer {
  display: none;
}

/* Seperator */
.sep {
  margin: 0 .25rem;
}

/* Adapt layout for larger screens */
.hide-on-small {
  display: none;
}

@media screen and (min-width : 480px) {

  header {
    float: left;
    height: 100%;
    left: 0;
    padding: 3% 7%;
    position: fixed;
    right: 50%;
    top: 0;
    width: 50%;
  }

  main {
    float: right;
    padding: 0 7%;
    width: 36%;
    height: 100vh;
    display: table;
  }

  article {
    display: table-cell;
    vertical-align: middle;
  }
}


@media screen and (min-width : 480px), screen and (min-height : 960px) {

  .logomark {
    /* Revert image color */
    -webkit-filter: invert(0);
    filter: invert(0);
  }

  h1 {
    color: black;
  }

}

@media screen and (min-width : 480px) and (min-height : 768px) {

  footer {
    color: gray;
    font-size: 14px;
    bottom: 7%;
    right: 7%;
    position: fixed;
    display: block;
  }

  .hide-on-small {
    display: inline;
  }
}

@media screen and (min-width : 768px) {
  html {
    font-size: 24px;
  }
}

#thanks header {
  background-image: url("img/bg-alt.jpg");
}

#thanks .logomark {
  -webkit-filter: invert(100%);
    filter: invert(100%);
}

#thanks h1 {
  color: white;
}